{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title>PasswordManager</title>
</head>
<body>
<nav class="navbar">
    <div class="logo">
        <img src="{% static 'img/logo.png' %}" alt="MyVault Logo">
    </div>
    <div class="navlinks">
        <a href="{% url 'home' %}">Home</a>
        <a href="#about">About</a>
        <a href="#contact">Contact</a>
        {% if user.is_authenticated %}
        <a href="{% url 'account' user.id %}">Account</a>
        {% endif %}
    </div>
    {% if not request.user.is_authenticated%}
    <button class="login-button">
        <a href="{% url 'register' %}">Signup</a>
    </button>
    {% endif %}
    {% if user.is_authenticated %}
    <button class="login-button">
        <a href="{% url 'logout' %}">Logout</a>
    </button>
    {% endif %}
</nav>
{% block content %}
{% endblock %}

</body>
</html>
