{% load static %}
{% include "base.html" %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/register.css' %}">

<div class="register-container">
    <h1 class="register-title">REGISTER</h1>
    {% for message in messages %}
    <span class="message">*{{ message }}</span>
    {% endfor %}
    <form action="#" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <span class="login-btn">Already have a account? <a href="#" style="color: cyan; text-decoration: none;">Login</a></span>
        <button class="submit-btn" type="submit">
            Register
        </button>
    </form>
</div>
{% endblock %}